@model IEnumerable<BookifyNew.ViewModel.YourOrdersDetailsViewModel>

@{
    ViewData["Title"] = "YourOrders";
    Layout = "~/Views/Shared/_Product.cshtml";
}


@if (Model.Count() > 0)
{
    @foreach (var order in Model)
    {
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Buyout</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in order.product)
                            {
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="@item.ImagePath" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title text-dark">@item.ProductName</a>
                                                @if (order.order.RentId == null)
                                                {
                                                    <p class="text-muted small"> Buy </p>
                                                }
                                                else
                                                {
                                                    <p class="text-muted small"> Rent <br> @(Convert.ToDateTime(order.order.RentStartDate).ToString("dd MMMM yyyy") + " to " + Convert.ToDateTime(order.order.RentEndDate).ToString("dd MMMM yyyy"))</p>
                                                }
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="align-items-center">
                                            <var class="price">@(order.order.RentId == null ? "Buy" : "Rent")</var>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$@item.ProductPrice</var>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    <td>
                                         @Html.ActionLink("Seller Details", "SellerDetails", "Orders", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">Order Total</var>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">$@order.order.BuyoutTotal</var>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> @order.order.OrderDate.ToString("dddd, dd MMMM yyyy")</p>
                       
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->

        </div> <!-- row.// -->
        <br />
        <br />
    }
}
else
{
    <h3>No order found</h3>
}